.App {
  text-align: center;
  border: 0;
  background-color: whitesmoke;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/*possible colors for the background: gainsboro, lightgray, whitesmoke*/

header{
  /* background-color:whitesmoke; */
  color: teal;
  /* margin-top: 0; */
  box-shadow: 0px 5px 20px 0px lightgrey;
  height: 4em;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headtitle{
  margin: 0;
}

.maindisplay{
  /* background-color: whitesmoke; */
  display: flex;
}

.mappedbooks{
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookdisplay{
  width: 240px;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  align-items: center;
  align-content: space-between;
}

/* #shelfdisplay{
  width: 20vw;
} */